absl-py==0.8.1
alabaster==0.7.12
allennlp==0.8.5
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
beautifulsoup4==4.8.0
blis==0.2.4
boto3==1.9.224
botocore==1.12.224
Bottleneck==1.2.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
conllu==1.3.1
cycler==0.10.0
cymem==2.0.2
dataclasses==0.6
docutils==0.15.2
editdistance==0.5.3
fast-bert==1.4.2
fastai==1.0.58
fastprogress==0.1.21
fire==0.1.3
flaky==3.6.1
Flask==1.1.1
Flask-Cors==3.0.8
ftfy==5.6
gast==0.2.2
gevent==1.4.0
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.24.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.20
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonnet==0.13.0
jsonpickle==1.2
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
murmurhash==1.0.2
nltk==3.4.5
numexpr==2.7.0
numpy==1.17.1
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
opt-einsum==3.1.0
overrides==1.9
packaging==19.1
pandas==0.25.1
parsimonious==0.8.1
Pillow==6.1.0
plac==0.9.6
pluggy==0.12.0
preshed==2.0.1
progressbar==2.5
protobuf==3.9.1
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.1.2
python-dateutil==2.8.0
python-slugify==3.0.4
pytorch-fast-elmo==0.6.12
pytorch-lamb==1.0.0
pytorch-pretrained-bert==0.6.2
pytorch-stateful-lstm==1.6.0
pytorch-transformers==1.1.0
pytz==2019.2
PyYAML==5.1.2
regex==2019.8.19
requests==2.22.0
responses==0.10.6
s3transfer==0.2.1
sacremoses==0.0.34
scikit-learn==0.21.3
scipy==1.3.1
sentencepiece==0.1.83
seqeval==0.0.12
six==1.12.0
snowballstemmer==1.9.1
soupsieve==1.9.4
spacy==2.1.8
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
srsly==0.1.0
tensorboard==2.0.0
tensorboardX==1.8
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
text-unidecode==1.3
thinc==7.0.8
torch==1.2.0+cu92
torchvision==0.4.0+cu92
tqdm==4.35.0
transformers==2.0.0
Unidecode==1.1.1
urllib3==1.24.3
wasabi==0.2.2
wcwidth==0.1.7
Werkzeug==0.15.6
word2number==1.1
wrapt==1.11.2
zipp==0.6.0
